*{
  margin: 0px;
  padding: 0px;
}
.menu {
  background: darkblue;
  width: 500px;
  margin-top: 50px;
}
.menu button{
  padding: 10px 20px;
  font-size: 15px;
}
.dropDown{
  position: relative;
  display: inline-block;
}
.dropDown button{
  padding: 10px 20px;
  font-size: 15px;
}
#dropContent{
  position: absolute;
  padding: auto;
  z-index: 1;
}
#dropContent a{
 display: block;
 font-size: 18px; 
 background: #dfdfdf;
 color: black;
 text-decoration: none;
 text-align: justify;
 text-justify: auto;
 font-size: 15px;
 width: 250px;
 padding: 10px 30;
 margin-top: 2px;

}
.gameBoard{
  height: 500px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
}

.gameBoard div{
  height: 50px;
  width: 50px;
}

/* .bomb{
  background-color: red;
} */
.checked{
  background-color: green;
}
.reset{
  style: none;
}
.flagged{
  background-color: blue;
}