*{
  margin: 0px;
  padding: 0px;
}
.menu {
  background: darkblue;
  max-width: 80%;
}
.dropDown{
  position: relative;
  display: inline-block;
}
.dropDown button{
  padding: 10px 40px;
  font-size: 20px;
}
#dropContent{
  position: absolute;
  z-index: 1;
}
#dropContent a{
 display: block;
 font-size: 18px; 
 background: #dfdfdf;
 color: black;
 text-decoration: none;
 padding: 10px 20px;
 margin-top: 2px;

}